{% extends 'base.html.twig' %}

{% block title %}Medecin index{% endblock %}

{% block body %}
    <h1>Medecin index</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Address</th>
                <th>Specialite</th>


                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medecin in medecins %}
            <tr>

                <td>{{ medecin.nom }}</td>
                <td>{{ medecin.prenom }}</td>

                <td>{{ medecin.email }}</td>
                <td>{{ medecin.telephone }}</td>
                <td>{{ medecin.address }}</td>
                <td>{{ medecin.specialite }}</td>


                <td>
                    <a href="{{ path('medecin_show', {'id': medecin.id}) }}">afficher profil</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="#"></a>
{% endblock %}
