{% extends 'base.html.twig' %}

{% block title %}Doctor index{% endblock %}

{% block body %}
    <h1>Doctor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cin</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>Adresse</th>
                <th>Password</th>
                <th>Status</th>
                <th>Specialite</th>
                <th>Price</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.id }}</td>
                <td>{{ doctor.cin }}</td>
                <td>{{ doctor.Nom }}</td>
                <td>{{ doctor.Prenom }}</td>
                <td>{{ doctor.Age }}</td>
                <td>{{ doctor.Email }}</td>
                <td>{{ doctor.phoneNumber }}</td>
                <td>{{ doctor.adresse }}</td>
                <td>{{ doctor.Password }}</td>
                <td>{{ doctor.status ? 'Yes' : 'No' }}</td>
                <td>{{ doctor.specialite }}</td>
                <td>{{ doctor.price }}</td>
                <td>{{ doctor.Description }}</td>
                <td>
                    <a href="{{ path('doctor_show', {'id': doctor.id}) }}">show</a>
                    <a href="{{ path('doctor_edit', {'id': doctor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('doctor_new') }}">Create new</a>
{% endblock %}
